.modalBackgroundNoBarcode, .modalNoBarcode {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px; left: 0px;
    z-index: 2;
  }


  button.nofacture {
    border-radius: 50%;
  }
  
  .modalContainer {
    width: 40%;
    /* height: 300px; */
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .modalContainerNoBarcode {
    /* width: 1000px; */
    /* height: 300px; */
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    overflow-y: scroll;
    width: 85vw;
    height: 80vh;
    z-index: 3;
  }
  
  /* .modalContainer .title {
    display: inline-block;
    text-align: center;
    color: black;
  } */

  .modalContainerNoBarcode .title {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    /* background-color: rgb(255, 0, 0); */
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    color: black;
    
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }