.modalBackgroundBarcodeNotFound, .modalBarcodeNotFound {
    width: 100vw;
    height: 100vh;
    background-color: rgba(49, 49, 49, 0.259);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }


  button.facture {
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .modalContainerBarcodeNotFound {
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    overflow-y: auto;
    width: 40vw;
    /* height: 50vh; */
    z-index: 2;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
  }
  
  .modalContainerBarcodeNotFound .title {
    display: inline-block;
    text-align: center;
    color: rgb(255, 0, 0);
  }

  
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding-right: 15px;
  }
  
  .modalContainerBarcodeNotFound .body {
    flex: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    color: black;
    margin-bottom: 30px;
    
  }
  