/* CARDS */
/*TODO: CHECK IF NEEDED !*/

#boxesContainer {
    margin: 50px 0;
}

#boxesList {
    margin: 20px 0;
}

.box {
    text-align: left;
    background-color: rgba(223, 218, 251, 0.4);
    border-radius: 20px;
    padding: 10px;
    width : 100%; /*400px*/
    margin-bottom: 10px;
    position: relative;
    /* display: inline-block; */
}

.form_customer {
    text-align: left;
    background-color: rgba(145, 141, 141, 0.406);
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 40%;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.form_product {
    text-align: left;
    background-color: rgba(145, 141, 141, 0.406);
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

img {
    border-radius: 20px;
}



.reset-style, .reset-style * {
    all: revert;
}

.product_catalogue {    
    background-color: rgba(255, 0, 238, 0.406);
    width: 100%;
    position: relative;
}

.product_catalogue_icon {
    /* text-align: left; */
    background-color: rgba(145, 141, 141, 0.406);
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 220px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    font-size: large;
    display: inline-block;
}

.ticket_icon {
    background-color: rgba(145, 141, 141, 0.406);
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 320px;
    /* text-align: center;  */
    display: inline-block;
    font-size: 15px;

}

button.print_icon {
    border-radius: 50%;
    padding: 0;
  }

#first-btn {
    background-color: #404754;
    margin: 20px 20%;
    display: block;
    /* border-radius: 20px; */
}

#creditCardsContainer {
    margin: 50px 0;
}

#creditCardsList {
    margin: 20px 0;
}

.creditCard {
    text-align: left;
    background-color: rgba(49, 54, 64, 0.4);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.creditCard ul li {
    list-style: none;
}

.destroyCreditCard {
    font-weight: 300;
    font-size: x-large;
    color: grey;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    cursor: pointer;
}

.modifyCreditCard {
    height: 3vmin;
    position: absolute;
    top: 53%;
    right: 8%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* ADDING CARD FORM */

.addCreditCard-btn {
    margin-top: 10px;
    border-radius: 15px !important;
}

.creditCard-form {
    background-color: #31363f;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 2px;
}

.creditCard-formGroup {
    padding: 10px 40px;
    margin-bottom: 0 !important;
}

.creditCard-formGroup input, .creditCard-formGroup select {
    background-color: inherit !important;
    border-radius: 0;
    border: none !important;
    border-bottom: 1px solid #404654 !important;
    color: white !important;
}


.creditCard-formGroup input:focus, .creditCard-formGroup select:focus {
    background-color: rgba(59, 65, 77, 0.4) !important;
    border: none !important;
    border-bottom: 1px solid #545c6e !important;
    box-shadow: none;
}

.creditCard-formGroup select option {
    background-color: rgb(59, 65, 77) !important;
    border: none;
}

.creditCardForm-input {
    min-width: 80px;
}

.labelInfoCard {
    font-weight: 500;
}


.creditCardForm-btn {
    margin-left: 5px;
}

@media (max-width: 995px) {
    .labelInfoCard {
        margin-right: 5px;
    }
}