#menu {
    /* background-color: #404754; */
    /* margin: 50px 20%; */
    /* border-radius: 20px; */
}

#menu 
.menuBtn {
    display: block;
    border: none;
    margin: 20px;
    padding: 10px 50px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 500;
    border-radius: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    display: block;
}